
@import "./partials/_media.scss";
@import "./partials/_grillas.scss";
@import "./partials/_H.scss";
@import "./partials/_P.scss";
@import "./partials/_colores.scss";
@import "./partials/_navegacion.scss";

body {
    background-color: white;
    font-family: 'Lobster', cursive;
}

.mobileFirst {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.paginaPrincipal {
    font-family: 'Otomanopee One', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 4rem;
}