
@import "./partials/_media.scss";
@import "./partials/_grillas.scss";
@import "./partials/_H.scss";
@import "./partials/_P.scss";
@import "./partials/_colores.scss";
@import "./partials/_navegacion.scss";
@import "./partials/_medidas.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
    background-color: white;
    font-family: 'Lobster', cursive;
}

.mobileFirst {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}